.brand_item {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 1px 3px #868686;
    height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 100%;
}

.brand_item_info {
    border-right: 1px solid #F4F3F0;
    float: left;
    height: 290px;
    overflow: hidden;
    width: 180px;
}

.brand_item_cont {
    height: 290px;
    margin-left: 180px;
    overflow: hidden;
    padding: 0 20px;
    position: relative;
    width: 735px;
}

.brand_item_cont_title {
    background-position: 0 31px;
    background-repeat: repeat-x;
    height: 32px;
    line-height: 32px;
    margin: 0 auto;
}

.brand_item_cont_slide {
    height: 255px;
    margin-left: 10px;
    overflow: hidden;
    padding: 0px;
    position: relative;
    width: 720px;
}

.bic_brand {
    color: #999999;
    height: 190px;
    overflow: hidden;
    padding: 10px;
    position: relative;
}


.bic_logo {
    padding: 40px 0;
    text-align: center;
}

.bic_logo strong {
    color: #333333;
    display: block;
    font-weight: bold;
}

.brand_item_cont_title {
    background-position: 0 31px;
    background-repeat: repeat-x;
    height: 32px;
    line-height: 32px;
    margin: 0 auto;
}

a.ks-switchable-disable-btn, a.ks-switchable-disable-btn:hover {
    background: none repeat scroll 0 0 transparent;
    color: #E6E6E6;
    cursor: default;
}

a.bIc-slide {
    background: none repeat scroll 0 0 #F7F7F7;
    color: #ACACAC;
    font-family: 宋体,Hei,Helvetica,sans-serif;
    font-size: 28px;
    font-weight: bold;
    height: 160px;
    line-height: 160px;
    position: absolute;
    text-align: center;
    top: 51px;
    transition: background 0.1s ease-out 0s;
    width: 20px;
}

a.bIc-slide-prev {
    left: 0px;
}

a.bIc-slide-next {
    right: 0px;
}

.bIc-slide-prev:hover, .bIc-slide-next:hover {
    background: none repeat scroll 0 0 #B91919;
    color: #FFFFFF;
    text-decoration: none;
    transition: background 0.1s ease-in 0s;
}

.bIc-slideList {
    height: 255px;
    left: 0;
    position: absolute;
    width: 10000px;
}

.bIc-slideList li {
    float: left;
    height: 250px;
    margin: 0 10px;
    width: 160px;
}

.bIc-slideList-img {
    border: 4px solid #FFFFFF;
    height: 160px;
    margin: 15px -4px 0;
    overflow: hidden;
    position: relative;
    width: 160px;
}

.brandCon img {
    vertical-align: top;
}

.bIc-slideList-sell, .bIc-slideList-title {
    color: #A7A7A7;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    width: 160px;
}

.ui-price {
    color: #CC0000;
    font-family: 'arial','verdana',sans-serif !important;
    font-size: 14px;
    font-weight: bold;
}
.bIc-slideList-sell-price {
    float: left;
}
.bIc-slideList-title a {
    color: #999999;
}

.bIc-slideList-sell-num {
    float: right;
    color: #A7A7A7;
}
.bIc-slideList-sell em {
    color: #C39170;
    font-weight: bold;
}

.bIc-slideList li:hover .bIc-slideList-title, .bIc-slideList-hover .bIc-slideList-title {
    height: 40px;
}
.bIc-slideList li:hover .bIc-slideList-img, .bIc-slideList-hover .bIc-slideList-img {
    border-color: #EAE5E1;
}
.bIc-title-notice {
    float: left;
}
a.bIc-title-notice-shop {
    color: #806F66;
    font-weight: bold;
}
.bIc-title-notice em {
    background: none repeat scroll 0 0 #CC0000;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    margin: 0 10px 0 3px;
    padding: 0 5px 2px;
}
a.bIc-title-more {
    color: #FFFFFF;
}
a.bIc-title-more strong {
    color: #FFFFFF;
}
.bIc-title-more {
    background-color: #C39071;
    border-radius: 2px 2px 2px 2px;
    color: white;
    float: right;
    font-weight: bolder;
    line-height: 16px;
    margin: 6px 0 4px;
    padding: 0 5px 3px;
}
.bIc-title-more i {
    background: url("http://img04.taobaocdn.com/tps/i4/T1g3PZXb8iXXc9v57_-10-10.png") repeat scroll 0 0 transparent;
    display: inline-block;
    font-size: 0;
    height: 10px;
    margin: -1px 2px -1px 5px;
    width: 10px;
}

.ui-more-nbg {
    color: #333333;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 28px 0 10px;
    position: relative;
}

.ui-more-nbg-arrow {
    background: url("http://a.tbcdn.cn/apps/tmall/mui/more/img/more.png") no-repeat scroll 0 -26px transparent;
    display: inline-block;
    height: 13px;
    line-height: 13px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 6px;
    width: 13px;
}

.bIi-style dt, .bIi-style dd {
    float: left;
    color: #999999;
}
.bIi-style dd {
    max-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90px;
    color: #999999;
}
.bIi-intro {
    background: none repeat scroll 0 0 #F9F9F9;
    bottom: -75px;
    color: #666666;
    height: 75px;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    transition: bottom 0.2s ease-out 0s;
    width: 170px;
}
.bIi-addBtn {
    padding-top: 20px;
    text-align: center;
}

.bic_brand p{
    color: #999999;
}
.brandCon a {
    color: #333333;
}
.ui-btn-m {
    background-position: 0 -380px;
}
.ui-btn-l-primary, .ui-btn-m-primary, .ui-btn-m, .ui-btn-l {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #CCCCCC;
    border-image: none;
    border-radius: 2px 2px 2px 2px;
    border-style: none solid;
    border-width: 0 1px;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    outline: medium none;
    overflow: visible;
    padding: 0 10px;
}

.like {
    background: url("images/item_like.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 26px;
    overflow: hidden;
    text-indent: -9999em;
    width: 62px;
    margin-left: 55px;
}

a.ks-switchable-disable-btn, a.ks-switchable-disable-btn:hover {
    background: none repeat scroll 0 0 transparent;
    color: #E6E6E6;
    cursor: default;
}